.button {
    display: flex;
    height: 4em;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: gray;
    margin: 4px;
    border-radius: 25px;
    color: black;
}

