.clear-btn {
    display: flex;
    flex: 1;
    height: 4em;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    height: 4em;
    background-color: red;
    margin: 4px;
    border-radius: 25px;
}